@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: white;
}

.hero {
    background: rgba(22, 64, 193, 1);
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


header {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 1160px;
    margin: auto;
    position: Fixed;
    display: flex;
    top: 23px;
    /* left: 140px; */
    justify-content: space-between;
}

.scrolled {
    z-index: 1000;
    position: fixed;
    background: rgb(8, 22, 64);


}

.section-1-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.vector-img {
    width: 34px;
    height: 34px;

}

.logo-text {
    /* color: white; */
    font-family: Inter;
    font-size: 24.44px;
    font-weight: 800;
    line-height: 29.57px;
    text-align: left;
    letter-spacing: 1px;

}

.section-2-nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;


}

.link-text {
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-decoration: none;

}

.link-text:hover {
    color: aliceblue;
    border-bottom: 2px solid white;
    /* color: white; */
}

.section-3-serch-auth {
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
}

.fa-solid {
    cursor: pointer;
    box-shadow: none;
}

.fa-magnifying-glass {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.fa-user {
    width: 18px;
    height: 18px;
}

.auth {
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;

}

.middle-section {
    width: 1160px;
    margin: auto;
    height: 790px;
    position: relative;
    color: white;
    /* background-image: url(../img/Frame\ 36744.png);s */

}


.Grou1707477970 {
    position: absolute;
    top: 18px;
    left: 350px;
}

.content-text {
    width: 500px;
    position: absolute;
    top: 70px;
    left: 00px;

}

.underline {
    position: absolute;
    margin: 3px;
    left: 0;
}

.content-text-badge {
    width: 320px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4.22px 21.09px 4.22px 4.22px;
    gap: 8.44px;
    background: rgba(0, 97, 255, 0.42);
    border-radius: 67px;
}

.content-text h2 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;

}

.content-para {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;

}

.buttons {
    display: flex;
    align-items: center;

    gap: 10px;
}

.hero-btn {
    margin-top: 18px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    background-color: white;
    color: blue;
    text-decoration: none;
    padding: 9px 10px;
    background: #FFFFFF;
    border-radius: 4px;

}

.fa-calendar {
    color: black;
}

.hero-btn-2 {
    margin-top: 18px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    /* background-color: white; */
    color: white;
    text-decoration: none;
    padding: 5px 8px;
    /* background: #FFFFFF; */
    border-radius: 4px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.img {
    position: absolute;
    height: 640px;
    right: 0px;
    bottom: 0px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(360deg, rgba(18, 97, 255, 0.7) 0%, rgba(5, 89, 255, 0.45) 32.37%, rgba(2, 79, 234, 0) 100%);

}

/*  second section satrt  */
.second-background {
    background-color: rgb(237, 250, 255);
    padding: 50px;
}

.second-section-content {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.second-section-content h2 {
    color: black;
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.55px;
    text-align: center;
}

.second-section-content p {
    color: rgba(49, 160, 254, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    margin: 30px;

}

.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    background: rgba(255, 255, 255, 1);
    width: 216px;
    height: 329px;
    top: 315px;
    padding: 10px 0ch;
    text-align: center;
    border-radius: 5px 0px 0px 0px;
    overflow: hidden;
}

.box:hover .bottom-img {
    scale: 1.5;
    transition: ease 0.3s;
}

.box:hover {
    background-color: rgb(237, 250, 255);
    border: 1px solid rgba(49, 160, 254, 1);
}

.box-img {
    margin: 10px 0px;
    height: 30px;
    width: 30px;
}

.box h4 {
    color: rgba(22, 64, 193, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 15.36px;

}

.box p {
    color: rgba(52, 60, 106, 1);
    margin: 20px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;

}

.bottom-img {
    width: 100%;
    object-fit: cover;
    margin-top: 45px;
}

.secon-section-team {
    color: rgba(49, 160, 254, 1);
    margin: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;

}

.secon-section-team h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: center;
    color: rgba(49, 160, 254, 1);

}

.secon-section-team p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
    color: rgba(52, 60, 106, 1);

}

.team-box {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    gap: 10px;
}

.team-box img {
    width: 85px;
    height: 85px;

}

/* second section end  */


/*   <!-- third secion start --> */

.third-section {
    /* padding: 20px; */
    background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);

}

.third-section-container {
    width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.third-section-content {
    width: 600px;
}

.third-section-content h3 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.55px;
    text-align: left;
    /* margin:10px 0px; */
}

.third-section-content p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.38px;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 10px 0px;
}

.third-section-img {
    width: 500px;
    height: 570px;
}

/*   <!-- third secion end --> */

/* fourth section start */
.fourth-section {
    background-color: rgb(237, 250, 255);
    padding: 100px;
}

.fourth-section-container {
    width: 1160px;
    margin: auto;
}

.block {
    padding: 3px 20 px;
    width: 230px;
    margin: auto;
}

.fourth-section-container h2 {
    color: black;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.55px;
    text-align: center;
    margin: 20px;
}

.flex-content {
    padding: 50px 10px;
}


td {
    align-content: flex-start;
    /* padding: 10px 20px; */
}

.table-heading {
    color: rgba(22, 64, 193, 1);
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.55px;
    text-align: left;
    margin-top: 20px;
}

.table-para {
    color: rgba(108, 114, 120, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.36px;
    text-align: left;
    margin: 30px 0px;
}

.request-demo {
    background-color: #005BEA;
    color: white;
    text-decoration: none;
    color: white;
    padding: 10px 20px 12px 20px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;

}

.fifth-section {
    padding: 100px;
    height: 500px;
    background: linear-gradient(180deg, #0061FF 0%, #023FDA 98.96%);
    position: relative;
}

.fifth-section .first {
    position: absolute;
    top: 89.15px;
    left: 59.6px;
    transform: rotate(-5.17deg);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.07px;
    text-align: left;
    background-color: yellow;
    color: black;
    padding: 7px;

}

.fifth-section .second {

    top: 148.11px;
    left: 351.11px;
    position: absolute;
    left: 400px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.07px;
    text-align: left;
    transform: rotate(-5.17deg);
    background-color: white;
    color: black;
    padding: 7px;
}

.fifth-section .third {
    position: absolute;
    top: 250px;
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 50.42px;
    text-align: center;

}

.fifth-section .fifth-btn {
    position: absolute;
    bottom: 60px;
    left: 173px;

}

.substract-img {
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 2;
    /* transform: rotateX('10'); */
}

.substract-img-2 {
    position: absolute;
    z-index: 1;
    right: 30px;
    top: 100px;
    transform: rotate(5.81deg);
}


/* fourth section end */

/* choose us start*/
.choose-us {
    padding: 50px;
}

.choose-us-container {

    width: 1160px;
    margin: auto;
}

.choose-us h2 {
    margin: 30px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.55px;
    text-align: center;
    color: black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}


.card {
    width: 346px;
    height: 228px;
    border-radius: 10px 0px 0px 0px;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;
    overflow: hidden;

}

.card::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 50% 0, 100% 50%, 0 100%;
    background-image: linear-gradient(#0061FF, #ffff);
    animation: rotate 4s linear infinite;
}

.card::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.card-img-div {
    width: 52px;
    height: 52px;
    background-color: rgba(225, 244, 255, 1);
    display: grid;
    place-items: center;
    border-radius: 8px;
}

.card h5 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: black;
    margin-top: 20px;
}

.card p {
    padding: 4px;
    font-family: Inter;
    margin-top: 20px;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.1px;
    text-align: left;
    color: rgba(108, 114, 120, 1);
}

/* choose us end */

.question-section {
    background-color: rgb(209, 237, 245);
    padding: 50px;
}

.question-container {
    width: 1160px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.section-1 {

    width: 40%;
}

.section-1 h2 {
    color: rgba(28, 31, 37, 1);
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    line-height: 41.76px;
    text-align: left;

    margin-top: 20px;
}

.section-1 .para {
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    margin-top: 20px;
}

.section-2 {
    width: 50%;
}

.section-2 .question {
    color: black;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 25.56px;
    text-align: left;

}

.section-2 .answer {
    /* display: none; */
    color: rgba(108, 114, 120, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
}

.six-section {
    padding: 70px;
    background-color: rgba(0, 91, 234, 1);
    background-image: url(../img/Mask\ Group.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
}

.six-container {
    width: 1160px;
    margin: auto;
}

.six-container h2 {
    color: white;
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    margin-top: 20px;

}

.six-container p {
    margin-top: 20px;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 30px;
}


.contact-us {
    width: 1280px;
    margin: auto;

}

.news-letter {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid white;
}


.news-letter h3 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin: 20px;
}

.news-letter p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

input {
    width: 320px;
    height: Fixed (48px)px;
    padding: 12px 0px 0px 0px;
    gap: 16px;
    border-radius: 8px 8px 8px 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    outline: none;
    border: 2px solid white;
    color: white;
    background-color: transparent;

}

.subcribe {
    width: 372px;
    height: Hug (48px)px;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
    opacity: 0px;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
}

.footer {
    padding: 40px 0px;
    display: flex;

    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid white;

}

.footer ul {
    list-style: none;
}
.footer ul li {
    margin: 20px 0px;    
}

.footer-links-heading {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
margin-bottom: 20px;

}

.footer-links {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;


}
.footer-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}